body{
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    overflow: hidden;
    top: 0;
    left: 0;

    display: flex;
    height: 150px;
    width: 100%;
    align-items: center;
    background-color: aliceblue;
}

.logo-container img{
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px 40px; 
}

nav {
    margin-left: auto;
    margin-right: 40px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;
}

h1.navbar-name, h2.navbar-title {
    text-align: center;
    margin: 0;
    display: block;
}

div.page-content {
    margin: 0 10vw 10vh 10vw;
}

div.section {
    scroll-margin-block-start: 150px;
}